<h1>Edit College</h1>

<form action="/colleges/<%= @college.college_id %>/update" method="post">
	<p>Institution Name: <input type="text" name="school" value="<%= @college.school %>"></p>
	
	<p>Nickname(mascot): <input type="text" name="nickname"></p>
	
	<p>Estimated Tuition: <input type="text" name="tuition"></p>
	
	<p>Summary: <input type="text" name="bio"></p>
	
	<p>Address: <input type="text" name="address" value="<%= @college.address %>"></p>
	
	<p>Latitude: <input type="text" name="latitude"></p>
	
	<p>Longitude: <input type="text" name="longitude"></p>
	
	<p>Region: <input type="text" name="region"></p>
	
	<p>Institution's Homepage: <input type="text" name="webpage"></p>
	
	<input type="submit">
</form>

