<style>
h1 {
	font-family: Verdana;
	color:  #FFCC33;
	text-align: center;
}

body {
	text-align: center;
	background-color: #6699FF;
}
</style>

<body>
<% @students.each do |u| %>
	<%#
	So here, `u` is a User object (meaning it's an *instance* of the
	Student class). So we can run *instance* methods on `u`.
	%>
<p>
	<%= u.name %> - <%= u.age %>
</p>

<% end %>

<p>
	<form action="/search">
		<p> search: <input type="text" name="query"> </p>
	</form>
</p>
</body>
