<% @students.each do |u| %>
	<%#
	So here, `u` is a User object (meaning it's an *instance* of the
	User class). So we can run *instance* methods on `u`.
	%>
<p>
	<%= u.name %> - <%= u.age %>
</p>

<% end %>
