<style>
h1 {
	font-family: Verdana;
	color:  #FFCC33;
	text-align: center;
}

body {
	text-align: center;
	background-color: #6699FF;
}
</style>

<body>
	<h1>Search</h1>
 	<form action="/search" method="get">
		<p>
			<input type="Enter Institution" name="query"></input>
		</p>
	</form>


</body>

