<h2> University of Nebraska </h2>

<% @colleges.each do |u| %>  
  
<p>
<img src="http://siliconangle.com/files/2012/05/university-of-nebraska-294x300.png<%= u.logo %>" />
</p>

<p>  
  <strong>Mascot:</strong>  
  <%= u.mascot %>  
</p>  

<p>  
  <strong>Address:</strong>  
  <%= u.address %>  
</p>  

<p>  
  <strong>Tuition:</strong>  
  <%= u.tuition %>  
</p> 

<% end %>


