<strong> University of Akron </strong>

<% @colleges.each do |u| %>  
  
<p>  
  <strong>Address:</strong>  
  <%= u.address %>  
</p>  
<p>  
  <strong>Latitude:</strong>  
  <%= u.latitude %>  
</p>  
<p>  
  <strong>Longitude:</strong>  
  <%= u.longitude %>  
</p> 

<% end %>

<h3>Nearby Locations</h3>  


