<% if @student.valid? %>
<h1>Success!</h1>

<p>Made a new student with the name <%= @student.name %></p>

<a href="/students/index">Return to main list</a>

<% else %>

<a href="/students/new">PlEASE RETURN and enter the fields correctly.</a>

<% end %>
