<% if @student.valid? %>
<h1>Success!</h1>

<p>Made a new student with the name <%= @student.name %></p>

<a href="/student/index">Return to main list</a>

<% else %>

Please enter the fields.

<% end %>