<% if @students.valid? %>
<h1>Success!</h1>

<p>Made a new student with the name <%= @students.name %></p>

<a href="/students/index">Return to main list</a>

<% else %>

Please enter the fields.

<% end %>