<h1>Edit Student</h1>

<form action="/student/<%= @student.id %>/update" method="post">
	<p>Name: <input type="text" name="name"></p>
	
	<p>Age: <input type="text" name="age"></p>
	
	<input type="submit">
</form>
