<style>
h1 {
	font-family: Verdana;
	color:  #FFCC33;
	text-align: center;
}

body {
	text-align: center;
	background-color: #6699FF;
}
</style>
<%#

@all_users contains an Array of User objects. Remember that a User object
contains mirrored info from one row in the "users" database table.

The benefit of storing the info from each row in an object is that we can
write methods for the object's class (User).

%>

<p>
	<a href="/students/new">Add new user</a>
</p>

<% @all_students.each do |s| %>
	<%#
	 So here, `u` is a User object (meaning it's an *instance* of the
	 User class). So we can run *instance* methods on `u`.
	%>
<p>
	<a href= "/students/<%= s.id %>"><%= s.name %></a> - <%= s.age %>
</p>

<% end %>

<body>
	<h1>Search</h1>
 	<form action="/search" method="get">
		<p>
			<input type="Enter Institution" name="colleges"></input>
		</p>
	</form>


</body>

