<h1>New Review</h1>

<form action="/reviews/create" method="post">
	<p>Rating: <input type="text" name="rating"></p>
	
	<p>Brief Review: <input type="text" name="content"></p>
	
	<input type="submit">
</form>
