<style>
h1 {
	font-family: Impact;
	color:  #FFCC33;
	text-align: center;
}

body {
	text-align: center;
	background-color: #6699FF;
}
</style>


<h1><a href="/reviews/new">Add new review</a></h1>


<% @all_reviews.each do |r| %>

<p>
	<a href= "/reviews/<%= r.review_id %>"><%= r.rating %></a>	
</p>

<% end %>
